TZ=Asia/Ho_Chi_Minh
DATAGATE_JOBS_DIR=../../../../datagate/apps/backend/app/utils
EXPERIMENT_JOBS_DIR=../../pipelines
# MinIO/AWS fallback configurations
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=miniopassword