TZ=Asia/Ho_Chi_Minh
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=miniopassword

ICEBERG_WAREHOUSE=s3://lakehouse/
ICEBERG_URI=http://iceberg-rest:8181
ICEBERG_S3_ENDPOINT=http://minio:9000
