TZ=Asia/Ho_Chi_Minh
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=grafanapassword

GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer

GF_AUTH_DISABLE_LOGIN_FORM=false
GF_AUTH_DISABLE_SIGNOUT_MENU=true

GF_SECURITY_ALLOW_EMBEDDING=true
GF_SECURITY_COOKIE_SAMESITE=lax

# Notebook
NOTEBOOK_URL=http://localhost:8888/lab
JUPYTER_TOKEN=dev-token
JUPYTER_FRAME_ANCESTORS=*
PYSPARK_PYTHON=python3
PYSPARK_DRIVER_PYTHON=python3
HOME=/opt/spark
JUPYTER_CONFIG_DIR=/opt/spark/.jupyter
JUPYTER_DATA_DIR=/opt/spark/.local/share/jupyter
JUPYTER_RUNTIME_DIR=/opt/spark/.local/share/jupyter/runtime
XDG_RUNTIME_DIR=/tmp/jupyter-runtime
