DATABASE_URL=postgresql://admin:datagatepassword@localhost:5432/datagate
DATABASE_USER=admin
DATABASE_PASSWORD=datagatepassword
DATABASE_DB=datagate

TZ=Asia/Ho_Chi_Minh

SECRET_KEY=7b68832a8a815a51357635c91178659139268383dfa32e825000
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

AIRFLOW_URL=http://localhost:8089
AIRFLOW_USER=airflow
AIRFLOW_PASS=airflow

MINIO_USER=admin
MINIO_PASSWORD=miniopassword
MINIO_ENDPOINT=http://localhost:9000