APP_NAME=DataGate
APP_VERSION=1.0.0
API_V1_STR=/api/v1
TZ=Asia/Ho_Chi_Minh

DATABASE_HOST=localhost
DATABASE_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=datagatepassword
POSTGRES_DB=datagate

#JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

#Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=grafanapassword
GRAFANA_URL=http://<ip-address>:3000
GRAFANA_DASHBOARD_UID=datagate
GRAFANA_DASHBOARD_SLUG=table-metadata-and-profiling-per-batch

# Notebook
NOTEBOOK_URL=http://<ip-address>:8888/lab
JUPYTER_TOKEN=dev-token
