# Application Setup
PROJECT_NAME="DataGate API"
API_V1_STR=/api/v1
TZ=Asia/Ho_Chi_Minh

# CORS Configuration
# Use a comma-separated list of origins, or * to allow all
BACKEND_CORS_ORIGINS=*

# PostgreSQL Database Configuration
POSTGRES_SERVER=datagate_database
POSTGRES_USER=admin
POSTGRES_PASSWORD=datagatepassword
POSTGRES_DB=datagate

# (Optional) You can override the SQLAlchemy Database URI manually here:
# SQLALCHEMY_DATABASE_URI=postgresql://admin:datagatepassword@datagate_database/datagate