TZ=Asia/Ho_Chi_Minh
JUPYTER_TOKEN=dev-token
PYSPARK_PYTHON=python3
PYSPARK_DRIVER_PYTHON=python3
HOME=/opt/spark
JUPYTER_CONFIG_DIR=/opt/spark/.jupyter
JUPYTER_DATA_DIR=/opt/spark/.local/share/jupyter
JUPYTER_RUNTIME_DIR=/opt/spark/.local/share/jupyter/runtime
XDG_RUNTIME_DIR=/tmp/jupyter-runtime