AIRFLOW_UID=0
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=airflowpassword
TZ=Asia/Ho_Chi_Minh
AIRFLOW_CONN_SPARK_DEFAULT=spark://spark-master:7077
AIRFLOW_CONN_DATAGATE_DB_DEFAULT=postgresql://admin:datagatepassword@datagate_database:5432/datagate
AIRFLOW_CONN_TRINO_DEFAULT=trino://admin@trino:8080
AIRFLOW_CONN_SLACKWEBHOOK=slackwebhook://:T00000000%2FB00000000%2FXXXXXXXXXXXXXXXXXXXXXXXX@/